.accordions {
    --gap: 10px;
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    @media(min-width: $md) {
        --gap: 30px;
        flex-direction: row;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        @media(min-width: $md) {
            width: calc(100% / 2 - var(--gap) / 2);
        }
    }
}

.accordion {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: var(--shadow);
    padding: 24px;
    @media(min-width: $md) {
        border-radius: 20px;
        padding: 34px;
    }

    &__top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        z-index: 1;
    }

    &__toggler {
        @include active-area;
        @include button-reset;
        align-items: center;
        background-color: var(--accent);
        border-radius: 50%;
        color: #fff;
        display: flex;
        height: 32px;
        justify-content: center;
        min-width: 32px;
        width: 32px;

        &::after {
            height: 100%;
            @media(min-width: $sm) {
                height: 100%;
            }
        }

        &.is-active {
            svg {
                transform: rotate(45deg);
            }
        }

        svg {
            fill: currentColor;
            height: 14px;
            transition: transform 0.3s;
            width: 14px;
        }
    }

    &__title {
        font-size: 18px;
        margin: 0;
        @media(min-width: $md) {
            font-size: 20px;
        }
    }

    &__body {
        display: none;
        padding-top: 12px;
        @media(min-width: $md) {
            padding-top: 16px;
        }
    }
}