.bordered-list {
    &__item {
        word-wrap: break-word;

        &:not(:last-child) {
            border-bottom: 1px solid var(--accent_2);
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

        &--imaged {
            display: flex;
            gap: 20px;
            flex-direction: column;
            @media(min-width: $sm) {
                flex-direction: row-reverse;
            }
        }
    }

    &__item-image {
        min-width: 180px;
        width: 18px;

        img {
            display: block;
        }
    }
}