.button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.3;
    min-height: 48px;
    padding: 8px 24px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    @media(min-width: $hd) {
        border-radius: 15px;
    }

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        pointer-events: none;
    }

    &--primary {
        background-color: var(--accent);
        border-color: var(--accent);
        color: #fff;

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--accent_2);
                border-color: var(--accent_2);
                color: var(--accent);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: var(--secondary_2);
            border-color: var(--secondary_2);
            color: var(--secondary);
        }
    }

    &--secondary {
        background-color: #fff;
        border-color: var(--accent);
        color: var(--accent);

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--accent_2);
                color: var(--accent);
            }
        }

        &.disabled,
        &:disabled,
        &[data-disabled] {
            background-color: #fff;
            border-color: var(--secondary_2);
            color: var(--secondary);
        }
    }

    &--h_52 {
        @media(min-width: $hd) {
            min-height: 52px;
        }
    }
}