.combobox {
    @media(min-width: $md) {
        position: relative;
        z-index: 1;
    }

    &.is-open {
        @media(min-width: $md) {
            z-index: 2;
        }

        .combobox__title {
            & > svg {
                @media(min-width: $md) {
                    transform: rotate(180deg);
                }
            }
        }

        .combobox__dropdown {
            @media(min-width: $md) {
                display: block;
            }
        }
    }

    &__title {
        @include button-reset;
        align-items: center;
        color: var(--text);
        display: flex;
        gap: 6px;
        padding: 12px 0;
        text-align: left;
        white-space: nowrap;
        width: 100%;
        @media(min-width: $md) {
            background-color: #fff;
            border-radius: 15px;
            box-shadow: var(--shadow);
            height: 70px;
            justify-content: space-between;
            padding: 24px;
        }

        svg {
            fill: var(--text);
            height: 9px;
            margin-top: 2px;
            min-width: 9px;
            width: 9px;
        }
    }

    &__dropdown {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: var(--shadow);
        display: none;
        @media(max-width: $md - 0.02px) {
            flex-direction: column;
            height: 100dvh;
            left: 0;
            padding: 40px var(--container_padding) 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
        }
        @media(min-width: $md) {
            left: 0;
            padding: 20px 10px 0 20px;
            position: absolute;
            top: calc(100% + 20px);
            width: 280px;
            z-index: 2;
        }

        &--calendar {
            @media(min-width: $md) {
                padding: 0;
                width: 345px;
            }
        }
    }

    &__closer {
        @include button-reset;
        align-items: center;
        display: flex;
        gap: 6px;
        font-family: var(--secondary_font);
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 24px;
        width: 100%;
        @media(min-width: $md) {
            display: none;
        }

        svg {
            fill: var(--accent);
            height: 24px;
            margin-top: 2px;
            width: 24px;
        }
    }

    &__list {
        overflow-y: auto;
        padding-bottom: 16px;
        @media(max-width: $md - 0.02px) {
            padding-bottom: 24px;
        }
        @media(min-width: $md) {
            @include scrollbar;
            max-height: 240px;
            padding-right: 20px;
        }

        .checkbox,
        .radio {
            &:not(:last-child) {
                margin-bottom: 25px;
                @media(min-width: $md) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__controls {
        border-top: 1px solid var(--accent_2);
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: auto;
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
        padding: 16px;
        @media(min-width: $md) {
            margin-left: calc(0.01px - 20px);
            margin-right: calc(0.01px - 10px);
        }

        .button {
            padding-left: 8px;
            padding-right: 8px;
            width: 135px;
        }
    }
}