.cookie-popup {
    border-radius: 20px;
    background-color: var(--accent_2);
    bottom: var(--container_padding);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 8px;
    left: 50%;
    max-width: calc(var(--container_max_width) - var(--container_padding) * 2);
    position: fixed;
    padding: var(--container_padding);
    top: auto;
    transform: translateX(-50%);
    width: calc(100% - var(--container_padding) * 2);
    z-index: 2;
    @media(min-width: $md) {
        align-items: flex-end;
        bottom: calc(var(--container_padding) * 2);
        flex-direction: row;
        font-size: 14px;
        gap: 16px;
        padding: calc(var(--container_padding) * 1.5);
    }

    &__title {
        font-family: var(--secondary_font);
        font-weight: 400;
        margin-bottom: 8px;
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        @media(min-width: $md) {
            flex-wrap: nowrap;
        }

        .button {
            flex-grow: 1;
            max-width: 140px;
            @media(min-width: $md) {
                width: 140px;
            }
        }
    }
}