@font-face {
    font-family: 'Avenir Next Cyr';
    src: url("../fonts/subset-AvenirNextCyr-Regular.woff2") format('woff2'), url("../fonts/subset-AvenirNextCyr-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url("../fonts/subset-AvenirNextCyr-Demi.woff2") format('woff2'), url("../fonts/subset-AvenirNextCyr-Demi.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roca One';
    src: url("../fonts/subset-RocaOne-Rg.woff2") format('woff2'), url("../fonts/subset-RocaOne-Rg.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}