.input-group {
    display: block;

    &__container {
        display: block;
        position: relative;
        z-index: 1;

        .input-group__icon + .input {
            padding-left: 50px;
        }
    }

    &__icon {
        fill: var(--accent);
        height: 24px;
        left: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        z-index: 1;
    }
}

.input,
.textarea {
    border-radius: 10px;
    border: 1px solid var(--accent);
    background-color: var(--bg);
    color: var(--text);
    caret-color: var(--accent);
    font-size: 16px;
    font-weight: 400;
    height: 52px;
    padding: 16px;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%;
    /*@media(min-width: $md) {
        border-radius: 15px;
    }*/
    &::-webkit-input-placeholder {
        color: var(--secondary_2);
        opacity: 1;
    }

    &::-moz-placeholder {
        color: var(--secondary_2);
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: var(--secondary_2);
        opacity: 1;
    }

    &:focus {
        //background-color: var(--accent_2);
        &::-webkit-input-placeholder {
            //color: var(--secondary);
            opacity: 0;
        }

        &::-moz-placeholder {
            //color: var(--secondary);
            opacity: 0;
        }

        &:-ms-input-placeholder {
            //color: var(--secondary);
            opacity: 0;
        }
    }

    &:disabled {
        background-color: #fff;
        border-color: var(--secondary_2);
        color: var(--secondary_2);

        &::-webkit-input-placeholder {
            color: var(--secondary_2);
            //opacity: 0;
        }

        &::-moz-placeholder {
            color: var(--secondary_2);
            //opacity: 0;
        }

        &:-ms-input-placeholder {
            color: var(--secondary_2);
            //opacity: 0;
        }
    }

    &.error {
        border-color: var(--warning);

        &:focus {
            border-color: var(--warning);
        }
    }
}

.textarea {
    @include scrollbar;
    height: 120px;
}

.error-text {
    //color: var(--warning);
    display: block;
    //font-size: 14px;
    margin-top: 6px;
}

textarea {
    resize: none;
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}