.popup {
    background-color: #fff;
    border-radius: 20px;
    display: none;
    padding: 24px 16px;
    width: 100%;
    @media(min-width: $sm) {
        max-width: 720px;
        padding: 48px;
    }

    &--form_result {
        text-align: center;
    }

    &__closer {
        @include button-reset;
        @include active-area;
        align-items: center;
        display: flex;
        height: 24px;
        justify-content: center;
        left: auto;
        position: absolute;
        right: 16px;
        top: 24px;
        width: 24px;
        @media(min-width: $sm) {
            right: 24px;
            top: 32px;
        }
        @media(min-width: $md) {
            right: 48px;
            top: 48px;
        }
        @include hover {
            svg {
                fill: var(--blue_7);
            }
        }
        @include active {
            svg {
                fill: var(--blue_8);
            }
        }

        svg {
            fill: var(--blue_1);
            height: 19px;
            width: 19px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 800;
        line-height: 1.35;
        margin-bottom: 16px;
        @media(min-width: $sm) {
            font-size: 22px;
            margin-bottom: 24px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.21428;
        @media(min-width: $md) {
            font-size: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
            @media(min-width: $md) {
                margin-bottom: 24px;
            }
        }

        p {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}

.fancybox-slide {
    .modal {
        border-radius: 20px;
    }
}