.quote {
    background-color: var(--accent_2);
    border-radius: 20px;
    padding: 24px;
    position: relative;
    z-index: 1;
    @media(min-width: $md) {
        border-radius: 35px;
        font-size: 20px;
        padding: 44px;
    }

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='22' viewBox='0 0 30 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.3881 2.7393C25.8209 3.30999 23.7015 4.59403 22.0299 6.59144C20.4179 8.53178 19.6119 10.7004 19.6119 13.0973C20.5075 11.6706 22.0896 10.9572 24.3582 10.9572C25.9104 10.9572 27.2239 11.4994 28.2985 12.5837C29.4328 13.668 30 15.0091 30 16.607C30 18.1479 29.403 19.4319 28.209 20.4591C27.0746 21.4864 25.6119 22 23.8209 22C21.3731 22 19.4627 20.9157 18.0896 18.7471C17.0746 17.2062 16.5672 15.2944 16.5672 13.0117C16.5672 10.2724 17.6119 7.61868 19.7015 5.05058C21.8507 2.42542 24.3582 0.741894 27.2239 0L28.3881 2.7393ZM11.8209 2.7393C9.25373 3.30999 7.13433 4.59403 5.46269 6.59144C3.85075 8.53178 3.04478 10.7004 3.04478 13.0973C3.9403 11.6706 5.52239 10.9572 7.79104 10.9572C9.34328 10.9572 10.6567 11.4994 11.7313 12.5837C12.8657 13.668 13.4328 15.0091 13.4328 16.607C13.4328 18.1479 12.8358 19.4319 11.6418 20.4591C10.5075 21.4864 9.04478 22 7.25373 22C4.80597 22 2.89552 20.9157 1.52239 18.7471C0.507463 17.2062 0 15.2944 0 13.0117C0 10.2724 1.04478 7.61868 3.13433 5.05058C5.28358 2.42542 7.79104 0.741894 10.6567 0L11.8209 2.7393Z' fill='%235C619D'/%3E%3C/svg%3E%0A");
        content: '';
        height: 22px;
        left: 24px;
        position: absolute;
        top: -11px;
        width: 30px;
        z-index: 1;
        @media(min-width: $md) {
            left: 44px;
        }
    }

    &__text {}

    &__author {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        margin-top: 24px;
        text-align: right;

        &:has(img) {
            margin-top: 0;
        }

        img {
            border-radius: 50%;
            min-width: 60px;
            width: 60px;
            @media(min-width: $md) {
                min-width: 80px;
                width: 80px;
            }
        }
    }
}