.search-form {
    display: flex;
    gap: 10px;

    &--small {
        .input-group {
            flex-grow: 1;
        }

        .input {
            height: 44px;
        }

        .button {
            min-height: 44px;
            min-width: 120px;
        }
    }

    &--dropdown {
        position: relative;
        z-index: 1;
    }

    &__dropdown {
        border-radius: 15px;
        background-color: #fff;
        display: none;
        left: 0;
        overflow-y: auto;
        padding: 20px;
        position: absolute;
        top: calc(100% + 10px);
        width: 100%;
        z-index: 1;
    }

    &__dropdown-list {
        @include list-reset;
        max-height: 212px;
        overflow-y: auto;
        padding-right: 10px;
        scrollbar-color: rgba(#292D32, 0.5) transparent;
        scrollbar-width: thin;

        li {
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            a {
                @include active-area;
                color: var(--text);
                position: relative;
                text-decoration: none;
                z-index: 1;
                @include hover {
                    color: var(--accent);
                }
            }
        }
    }

    &__closer {}
}