::-moz-selection {
    background: var(--secondary_2);
    color: var(--text);
    text-shadow: none;
}

::selection {
    background: var(--secondary_2);
    color: var(--text);
    text-shadow: none;
}