.tab {
    display: none;

    &.is-active {
        display: block;
    }
}

.tabs-nav {
    @include scrollbar;
    background-color: #fff;
    box-shadow: var(--shadow);
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    overflow-x: auto;
    @media(min-width: $md) {
        font-size: 16px;
        margin-bottom: 30px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &--type_1 {
        border-radius: 10px;
        padding: 5px;
        @media(min-width: $md) {
            border-radius: 16px;
        }

        .tabs-nav__button {
            border-radius: 10px;
            color: var(--text);
            min-height: 52px;
            padding: 4px 16px;

            &.is-active {
                background-color: var(--accent_2);
                color: var(--text);
            }

            &:not(.is-active) {
                @include hover {
                    background-color: var(--accent_2);
                    color: var(--text);
                }
            }
        }

        .tabs-nav__radio {
            input {
                &:checked ~ .tabs-nav__radio-text {
                    background-color: var(--accent_2);
                    color: var(--text);
                }

                &:not(:checked) ~ .tabs-nav__radio-text {
                    @include hover {
                        background-color: var(--accent_2);
                        color: var(--text);
                    }
                }
            }

            .tabs-nav__radio-text {
                border-radius: 10px;
                color: var(--text);
                min-height: 52px;
                padding: 4px 16px;
            }
        }
    }

    &--type_2 {
        border-radius: 10px;
        background-color: #fff;

        .tabs-nav__button {
            border-radius: 10px;
            color: var(--text);
            font-weight: 500;
            min-height: 52px;
            padding: 4px 16px;

            &.is-active {
                background-color: var(--accent);
                color: #fff;
            }

            &:not(.is-active) {
                @include hover {
                    background-color: var(--accent_2);
                    color: var(--text);
                }
            }
        }

        .tabs-nav__radio {
            input {
                &:checked ~ .tabs-nav__radio-text {
                    background-color: var(--accent);
                    color: #fff;
                }

                &:not(:checked) ~ .tabs-nav__radio-text {
                    @include hover {
                        background-color: var(--accent_2);
                        color: var(--text);
                    }
                }
            }

            .tabs-nav__radio-text {
                border-radius: 10px;
                color: var(--text);
                font-weight: 500;
                min-height: 52px;
                padding: 4px 16px;
            }
        }
    }

    &--type_3 {
        border-radius: 10px;
        background-color: #fff;

        .tabs-nav__button {
            border-radius: 10px;
            color: var(--accent);
            font-weight: 500;
            min-height: 52px;
            padding: 4px 16px;

            &.is-active {
                background-color: var(--accent);
                color: #fff;
            }

            &:not(.is-active) {
                @include hover {
                    background-color: var(--accent_2);
                    color: var(--text);
                }
            }
        }

        .tabs-nav__radio {
            input {
                &:checked ~ .tabs-nav__radio-text {
                    background-color: var(--accent);
                    color: #fff;
                }

                &:not(:checked) ~ .tabs-nav__radio-text {
                    @include hover {
                        background-color: var(--accent_2);
                        color: var(--text);
                    }
                }
            }

            .tabs-nav__radio-text {
                border-radius: 10px;
                color: var(--accent);
                font-weight: 500;
                min-height: 52px;
                padding: 4px 16px;
            }
        }
    }

    &--cnt_2 {
        .tabs-nav__button {
            min-width: 50%;
        }
    }

    &--cnt_3 {
        .tabs-nav__button {
            min-width: calc(100% / 3);
        }
    }

    &--cnt_4 {
        .tabs-nav__button {
            min-width: calc(100% / 4);
        }
    }

    &--cnt_5 {
        .tabs-nav__button {
            min-width: calc(100% / 5);
        }
    }

    &--half_width {
        @media(min-width: $sm) {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    }

    &__button,
    &__radio {
        @include button-reset;
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: center;
        transition: background-color 0.3s;
        text-decoration: none;
        white-space: nowrap;
        @include hover {
            text-decoration: none;
        }
    }

    &__radio {
        position: relative;
        z-index: 1;

        input {
            position: absolute;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;

            &:checked ~ .checkbox__icon {
                background-color: var(--accent_2);
            }
        }
    }

    &__radio-text {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        transition: background-color 0.3s, color 0.3s;
    }
}