.text-bg {
    border-radius: 20px;
    padding: 24px;
    @media(min-width: $md) {
        border-radius: 25px;
        padding: 34px;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
        @media(min-width: $md) {
            margin-bottom: 30px;
        }
    }

    h1,
    h2 {
        margin-bottom: 16px;
        @media(min-width: $md) {
            margin-bottom: 20px;
        }
    }

    h3 {
        &.big {
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }

    &--type_1 {
        background-color: #fff;
        box-shadow: var(--shadow);

        .input,
        .textarea {
            &:not(:disabled) {
                background-color: #fff;
            }
        }
    }

    &--type_2 {
        background-color: var(--accent_2);
        box-shadow: var(--shadow);
    }

    &__links {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        @media(min-width: $sm) {
            flex-direction: row;
            justify-content: space-between;
        }

        a {
            color: var(--text);
            text-decoration: none;
        }
    }

    .text-bg {
        border-radius: 15px;
        padding: 14px;
        @media(min-width: $md) {
            border-radius: 15px;
            padding: 32px;
        }

        &:not(:first-child) {
            margin-top: 24px;
            @media(min-width: $md) {
                margin-top: 24px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 24px;
            @media(min-width: $md) {
                margin-bottom: 24px;
            }
        }
    }
}

* + .markets {
    margin-top: 20px;
    @media(min-width: $md) {
        margin-top: 30px;
    }
}

.markets {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    @media(min-width: $md) {
        gap: 30px;
    }

    a {
        border-radius: 5px;
        overflow: hidden;
        width: 140px;
        @media(min-width: $md) {
            border-radius: 10px;
            width: 252px;
        }

        img {
            display: block;
            width: 100%;
        }
    }
}