.article-details {
    font-size: 12px;
    margin-bottom: 24px;
    @media(min-width: $md) {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

.article-authors {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    @media(min-width: $md) {
        gap: 15px;
    }

    &__list {
        @include list-reset;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }
    @media(min-width: $md) {
        gap: 15px;
    }

    & > p {
        margin: 0;
    }

    .article-author {
        display: flex;
    }
}

.article-author {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 6px;
    text-decoration: none;
    @media(min-width: $md) {
        gap: 15px;
    }

    img {
        border-radius: 50%;
        height: 24px;
        min-width: 24px;
        object-fit: cover;
        object-position: center;
        width: 24px;
        @media(min-width: $md) {
            height: 42px;
            min-width: 42px;
            width: 42px;
        }
    }
}