.card {
    border-radius: 20px;
    display: flex;
    min-height: 210px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media(min-width: $md) {
        border-radius: 30px;
        min-height: 230px;
    }

    &::after {
        background: linear-gradient(180deg, rgba(26,15,77,0) 44%, rgba(77,83,161,0.9) 100%);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    @include hover {
        img {
            transform: scale(1.02);
        }
    }

    img {
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: top;
        position: absolute;
        top: 0;
        transform: scale(1);
        transition: transform 0.3s;
        width: 100%;
        z-index: 1;
    }

    &__inner {
        align-items: flex-start;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 24px;
        position: relative;
        width: 100%;
        z-index: 2;
        @media(min-width: $md) {
            padding: 34px;
        }
    }

    &__more {
        border: 1px solid #fff;
        color: #fff;
        min-width: 150px;
        @include hover {
            background-color: #fff;
            border-color: #fff;
            color: var(--accent);
        }

        svg {
            fill: currentColor;
            height: 32px;
            width: 32px;
        }
    }

    h3 {
        font-size: 20px;
        margin-bottom: 0;
        width: 100%;
        @media(min-width: $md) {
            font-size: 24px;
        }

        &:not(:last-child) {
            margin-bottom: 14px;
        }

        a {
            @include active-area;
            align-items: flex-end;
            color: #fff;
            display: flex;
            justify-content: space-between;
            gap: 16px;
            text-decoration: none;

            &::after {
                height: 100%;
                @media(min-width: $sm) {
                    height: 100%;
                }
            }

            svg {
                fill: currentColor;
                height: 32px;
                min-width: 32px;
                width: 32px;
            }
        }
    }

    p {
        margin-bottom: 20px;
    }

    .button {
        @include active-area;

        &::after {
            height: 100%;
            @media(min-width: $sm) {
                height: 100%;
            }
        }
    }

    &--big {
        min-height: 280px;
        @media(min-width: $md) {
            min-height: 420px;
        }

        h3 {
            flex-grow: 0;
            min-height: 2.4em;
        }

        p {
            @media(min-width: $hd) {
                min-height: 5.2em;
            }
        }
    }
}

.card_2 {
    align-items: flex-start;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 24px;
    position: relative;
    z-index: 1;
    @media(min-width: $md) {
        border-radius: 25px;
        min-height: 344px;
        padding: 34px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 12px;
        @media(min-width: $md) {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 10px;
        }
    }

    p {
        margin-bottom: 18px;
        @media(min-width: $md) {
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
        }
    }

    .button {
        @include active-area;
        margin-top: auto;

        &::after {
            height: 100%;
            @media(min-width: $sm) {
                height: 100%;
            }
        }
    }

    .button--secondary {
        background-color: #fff;
    }
}

.card_3 {
    align-items: flex-start;
    background-color: var(--accent_2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 24px;
    position: relative;
    z-index: 1;
    @media(min-width: $md) {
        border-radius: 25px;
        min-height: 356px;
        padding: 34px;
    }

    &--h_240 {
        @media(min-width: $md) {
            min-height: 240px;
        }
    }

    &__icon {
        align-items: center;
        border-radius: 50%;
        background-color: var(--accent);
        display: flex;
        height: 40px;
        justify-content: center;
        margin-bottom: 20px;
        width: 40px;
        @media(min-width: $md) {
            margin-bottom: 30px;
        }

        img {
            display: block;
            width: 20px;
        }

        svg {
            fill: var(--accent_2);
            height: 20px;
            width: 20px;
        }
    }

    h3 {
        color: var(--accent);
        font-size: 20px;
        margin-bottom: 12px;
        @media(min-width: $md) {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 10px;
        }
    }

    p {
        margin-bottom: 18px;
        @media(min-width: $md) {
            margin-bottom: 20px;
        }
    }

    .button {
        @include active-area;
        margin-top: auto;

        &::after {
            height: 100%;
            @media(min-width: $sm) {
                height: 100%;
            }
        }
    }

    .button--secondary {
        background-color: var(--accent_2);
    }
}