.contact {
    background-color: #fff;
    border-radius: 20px;
    padding: 24px;
    @media(min-width: $sm) {
        --gap: 20px;
        display: flex;
        gap: var(--gap);
    }
    @media(min-width: $hd) {
        --gap: 30px;
        border-radius: 25px;
        padding: 34px;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
        @media(min-width: $hd) {
            margin-bottom: 30px;
        }
    }

    &__image {
        max-width: 336px;
        @media(max-width: $md - 0.02px) {
            margin-bottom: 20px;
        }
        @media(min-width: $md) {
            min-width: 336px;
            width: 336px;
        }

        img {
            border-radius: 20px;
            display: block;
            width: 100%;
            @media(min-width: $hd) {
                border-radius: 25px;
            }
        }
    }

    &__info {
        @media(min-width: $sm) {
            width: calc(100% - 336px - var(--gap) / 2);
        }
        @media(min-width: $md) {
            display: flex;
            gap: var(--gap);
        }

        h3 {
            margin-bottom: 14px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 14px;
            }

            a {
                display: inline-block;

                &:not(:first-child) {
                    margin-top: 6px;
                }

                &:not([class]) {
                    color: var(--text);
                    @include hover {
                        color: var(--button_hover);
                    }
                }
            }
        }

        b {
            font-weight: 500;
        }

        a {
            text-decoration: none;
        }
    }

    &__info-block {
        @media(min-width: $md) {
            display: flex;
            flex-direction: column;
        }

        &:not(:last-child) {
            @media(max-width: $md - 0.02px) {
                margin-bottom: 20px;
            }
        }

        &:first-child {
            @media(min-width: $md) {
                width: calc(52.3% - var(--gap) / 2);
            }
        }

        &:nth-child(2) {
            @media(min-width: $md) {
                width: calc(47.7% - var(--gap) / 2);
            }
        }
    }

    &__buttons {
        display: flex;
        gap: 12px;
        margin-top: 16px;
    }
}

.contacts-map {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    height: 400px;
    overflow: hidden;
    @media(min-width: $hd) {
        border-radius: 40px;
        height: 500px;
    }

    img {
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

.map-filter {
    display: flex;
    gap: 10px;
    @media(max-width: $md - 0.02px) {
        flex-direction: column;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .select-wrapper {
        min-width: 215px;
        white-space: nowrap;
    }

    &__contacts {
        align-items: center;
        display: flex;
        gap: 30px;
        @media(min-width: $md) {
            margin-left: auto;
        }

        .phone-link {
            font-size: 20px;
            font-weight: 700;
            gap: 10px;

            .phone-link__icon {
                height: 24px;
                min-width: 24px;
                width: 24px;

                svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    &__contacts-title {
        padding-left: 34px;
    }
}