.doctor {
    --vertical_gap: 20px;
    @media(min-width: $md) {
        --vertical_gap: 25px;
        display: flex;
        gap: 30px;
        font-size: 20px;
    }

    &__left {
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 24px;
        @media(min-width: $md) {
            border-radius: 25px;
            margin-bottom: 0;
            padding: 34px;
            width: calc(58% - 15px);
        }

        h1 {
            margin-bottom: 12px;
        }
    }

    &__reviews-title,
    &__spec {
        color: var(--accent);
        font-size: 18px;
        font-weight: 700;
        @media(min-width: $md) {
            font-size: 20px;
            line-height: 1.2;
        }
    }

    &__place,
    &__spec {
        margin-bottom: var(--vertical_gap);
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        gap: var(--vertical_gap) 10px;
        flex-direction: column;
        margin-bottom: var(--vertical_gap);
        @media(min-width: $sm) {
            flex-direction: row;
        }

        & > div {
            @media(min-width: $sm) {
                width: calc(100% / 3 - 10px / 3 * 2);
            }

            &:nth-child(4) {
                @media(min-width: $sm) {
                    width: calc(100% / 3 * 2 - 10px / 3);
                }
            }

            &:nth-child(4),
            &:nth-child(5) {
                width: 100%;
            }

            span {
                color: var(--accent);
                display: block;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 2px;
                @media(min-width: $md) {
                    font-size: 20px;
                    line-height: 1.2;
                }
            }
        }
    }

    &__reviews-title {
        margin-bottom: 12px;
    }

    &__reviews {
        display: flex;
        gap: 20px 30px;
        flex-wrap: wrap;

        & > div {
            max-width: 170px;

            & > img {
                display: block;
                margin-bottom: 5px;
                @media(min-width: $md) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__stars {
        display: flex;
        gap: 5px;

        img {
            min-width: 25px;
            width: 25px;
        }
    }

    &__right {
        @media(min-width: $md) {
            width: calc(42% - 15px);
        }
    }

    &__image {
        margin-bottom: 20px;

        img {
            border-radius: 20px;
            display: block;
            width: 100%;
            @media(min-width: $md) {
                border-radius: 25px;
                margin-bottom: 30px;
            }
        }
    }

    &__prices-block {
        background-color: #fff;
        border-radius: 20px;
        padding: 24px;
        @media(min-width: $md) {
            border-radius: 25px;
            padding: 34px;
        }
    }

    &__prices {
        display: flex;
        font-size: 16px;
        flex-wrap: wrap;
        gap: 20px 10px;
        margin-bottom: 20px;

        & > div {
            @media(min-width: $sm) {
                width: calc(100% / 2 - 10px / 2);
            }
        }
    }

    &__price {
        color: var(--accent);
        display: block;
        font-size: 18px;
        font-weight: 700;
        @media(min-width: $md) {
            font-size: 20px;
        }
    }

    &__buttons {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
        @media(min-width: $sm) {
            gap: 10px;
        }

        .button {
            width: 100%;
            @media(min-width: $sm) {
                width: calc(100% / 2 - 10px / 2);
            }
        }
    }
}