.doctors {
    & > .tabs-nav {
        @media(min-width: $sm) {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    }

    &__filter-block {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        @media(min-width: $md) {
            margin-bottom: 30px;
        }

        .filter-opener {
            @media(min-width: $md) {
                display: none;
            }
        }
    }

    .search-form {
        flex-grow: 1;
    }

    .search-form__submit {
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }
}