.doctors {
    &__filter-block {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        @media(min-width: $md) {
            margin-bottom: 30px;
        }

        .filter-opener {
            @media(min-width: $md) {
                display: none;
            }
        }
    }

    .search-form {
        flex-grow: 1;
    }
}