.doctors {
    &__filter-block {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        @media(min-width: $md) {
            margin-bottom: 30px;
        }
    }

    .search-form {
        flex-grow: 1;
    }

    .search-form__submit {
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
    }
}