<div class="banner banner--dark">
    <div class="banner__text-block">
        <h1 class="banner__title">Диагностические<br> исследования</h1>

        <div class="banner__text">
            <p>Предоставляем полный спектр современных диагностических исследований: от рентгена до сложнейших лучевых и изотопных методик с использованием контрастных веществ и новейших радиофармпрепаратов.</p>
        </div>

        <div class="banner__buttons">
            <a class="button button--secondary button--h_52" href="#">Записаться на диагностику</a>
        </div>
    </div>

    <div class="banner__image banner__image--type_2">
        <img src="images/content/banners/banner_4.jpg" srcset="images/content/banners/banner_4@2x.jpg 2x" alt="">
    </div>
</div>