<div class="banner banner--dark">
    <div class="banner__text-block">
        <h1 class="banner__title">Мобильное приложение пациента</h1>

        <div class="banner__text">
            <p>Мобильное приложение позволит Вам быстро и удобно получить всю необходимую информацию о Вашем здоровье, записаться онлайн на амбулаторный прием и исследование.</p>
        </div>

        <div class="banner__buttons">
            <a class="button button--secondary_2 button--h_52" href="#">Запись онлайн</a>
            <a class="button button--secondary_2 button--h_52" href="#">Задать вопрос</a>
        </div>
    </div>

    <div class="banner__image banner__image--type_2">
        <img src="images/content/banners/banner_10.jpg" srcset="images/content/banners/banner_10@2x.jpg 2x" alt="">
    </div>
</div>