<div class="banner banner--dark">
    <div class="banner__text-block">
        <h1 class="banner__title">Центр ключевых<br> направлений лечения</h1>

        <div class="banner__buttons">
            <a class="button button--secondary_2 button--h_52" href="#">Записаться на диагностику</a>
        </div>
    </div>

    <div class="banner__image banner__image--type_2">
        <img src="images/content/banners/banner_2.jpg" srcset="images/content/banners/banner_2@2x.jpg 2x" alt="">
    </div>
</div>