<div class="banner banner--light">
    <div class="banner__text-block">
        <h1 class="banner__title">Аритмология</h1>

        <div class="banner__text">
            <p>Основная цель аритмологии — восстановление нормального сердечного ритма и предотвращение возможных осложнений, а также улучшение качества жизни пациентов с сердечными заболеваниями.</p>
        </div>

        <div class="banner__buttons">
            <a class="button button--primary button--h_52" href="#">Записаться на диагностику</a>
        </div>
    </div>

    <div class="banner__image banner__image--type_1">
        <img src="images/content/banners/banner_3.jpg" srcset="images/content/banners/banner_3@2x.jpg 2x" alt="">
    </div>
</div>