<div class="banner banner--dark">
    <div class="banner__text-block">
        <h1 class="banner__title">Кардиология и Сердечно-сосудистая хирургия</h1>

        <div class="banner__text">
            <p>Мы предлагаем полный спектр медицинских услуг, включая консультации кардиологов, современные методы диагностики (ЭКГ, УЗИ сердца, Холтеровское мониторирование) и индивидуальные программы лечения.</p>
        </div>

        <div class="banner__buttons">
            <a class="button button--secondary_2 button--h_52" href="#">Записаться на диагностику</a>
            <a class="button button--secondary_2 button--h_52" href="#">Позвонить</a>
        </div>
    </div>

    <div class="banner__image banner__image--type_1">
        <img src="images/content/banners/banner_5.jpg" srcset="images/content/banners/banner_5@2x.jpg 2x" alt="">
    </div>
</div>