<div class="banner banner--dark">
    <div class="banner__text-block">
        <h1 class="banner__title">Rezūm™ – новейший малоинвазивный метод лечения аденомы простаты</h1>

        <div class="banner__text">
            <p>Быстро и эффективно! Вся операция длится&nbsp;10-15&nbsp;минут. Можно делать под местной анестезией.</p>
        </div>

        <div class="banner__buttons">
            <a class="button button--secondary button--h_52" href="#">Подробнее</a>
        </div>
    </div>

    <div class="banner__image banner__image--type_1">
        <img src="images/content/banners/banner_1.jpg" srcset="images/content/banners/banner_1@2x.jpg 2x" alt="">
    </div>
</div>