<div class="js-cards-slider cards-slider" data-slider="slider_1">
    <div class="cards-slider__inner">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="article-card">
                        <div class="article-card__image">
                            <img src="images/content/articles/img_1.jpg" srcset="images/content/articles/img_1@2x.jpg 2x" alt="">
                        </div>

                        <div class="article-card__info">

                            <time class="article-card__date" datetime="2024-11-23">23 ноября 2024</time>

                            <h3 class="article-card__title">Индекс массы тела: как его рассчитать и можно ли доверять результатам</h3>

                            <a class="article-card__more button button--secondary" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="article-card">
                        <div class="article-card__image">
                            <img src="images/content/articles/img_2.jpg" srcset="images/content/articles/img_2@2x.jpg 2x" alt="">
                        </div>

                        <div class="article-card__info">

                            <time class="article-card__date" datetime="2024-11-22">22 ноября 2024</time>

                            <h3 class="article-card__title">Александр Тряпицын выступил на конгрессе в Москве</h3>

                            <a class="article-card__more button button--secondary" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="article-card">
                        <div class="article-card__image">
                            <img src="images/content/articles/img_3.jpg" srcset="images/content/articles/img_3@2x.jpg 2x" alt="">
                        </div>

                        <div class="article-card__info">

                            <time class="article-card__date" datetime="2024-11-21">21 ноября 2024</time>

                            <h3 class="article-card__title">Индекс массы тела: как его рассчитать и можно ли доверять результатам</h3>

                            <a class="article-card__more button button--secondary" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="article-card">
                        <div class="article-card__image">
                            <img src="images/content/articles/img_1.jpg" srcset="images/content/articles/img_1@2x.jpg 2x" alt="">
                        </div>

                        <div class="article-card__info">

                            <time class="article-card__date" datetime="2024-11-20">20 ноября 2024</time>

                            <h3 class="article-card__title">Флебологи Клиники СПбГУ — организаторы и участники Конференции «Тёмные ночи»</h3>

                            <a class="article-card__more button button--secondary" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-slider__nav">
            <button class="js-cards-slider-prev swiper-button-prev" type="button" title="Назад" data-slider="slider_1">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left_icon" />
                </svg>
            </button>

            <button class="js-cards-slider-next swiper-button-next" type="button" title="Вперёд" data-slider="slider_1">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right_icon" />
                </svg>
            </button>
        </div>
    </div>

    <div class="js-cards-slider-pagination swiper-pagination" data-slider="slider_1"></div>
</div>