<div class="js-cards-slider cards-slider" data-slider="slider_3">
    <div class="cards-slider__inner">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="doctor-card doctor-card--small">
                        <div class="doctor-card__image">
                            <img src="images/content/doctors/img_1.jpg" srcset="images/content/doctors/img_1@2x.jpg 2x" alt="">
                        </div>

                        <div class="doctor-card__info">
                            <h3 class="doctor-card__title">Маховикова Анна Олеговна</h3>

                            <p class="doctor-card__about">
                                Заведующая отделением амбулаторной кардиологии, врач-кардиолог
                            </p>

                            <a class="doctor-card__more button button--secondary" href="#">Записаться</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="doctor-card doctor-card--small">
                        <div class="doctor-card__image">
                            <img src="images/content/doctors/img_2.jpg" srcset="images/content/doctors/img_2@2x.jpg 2x" alt="">
                        </div>

                        <div class="doctor-card__info">
                            <h3 class="doctor-card__title">Старосоцкая Мария Владимировна</h3>

                            <p class="doctor-card__about">
                                Врач-кардиолог кардиохирургического отделения с кабинетом рентгенэндоваскулярных диагностики и лечения, к.м.н. (не ведёт амбулаторный приём)
                            </p>

                            <a class="doctor-card__more button button--secondary" href="#">Записаться</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="doctor-card doctor-card--small">
                        <div class="doctor-card__image">
                            <img src="images/content/doctors/img_3.jpg" srcset="images/content/doctors/img_3@2x.jpg 2x" alt="">
                        </div>

                        <div class="doctor-card__info">
                            <h3 class="doctor-card__title">Андрианова Ирина Анатольевна</h3>

                            <p class="doctor-card__about">
                                Врач-кардиолог, терапевт травматологического отделения № 2
                            </p>

                            <a class="doctor-card__more button button--secondary" href="#">Записаться</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="doctor-card">
                        <div class="doctor-card__image">
                            <img src="images/content/doctors/img_4.jpg" srcset="images/content/doctors/img_4@2x.jpg 2x" alt="">
                        </div>

                        <div class="doctor-card__info">
                            <h3 class="doctor-card__title">Кулешов Олег Владимирович</h3>

                            <p class="doctor-card__about">
                                Заведующий отделением анестезиологии-реанимации Клиники, к.м.н.
                            </p>

                            <p class="doctor-card__exp">Стаж - 24 лет</p>

                            <p class="doctor-card__reviews">
                                <span>Отзывы -</span>
                                <span class="doctor-card__reviews-inner">
                                    <img class="doctor-card__na_popravku" src="images/icons/na_popravku.png" alt="На Поправку">
                                    <span class="doctor-card__reviews-stars">
                                        <img src="images/icons/stars/star--full.png" alt="">
                                        <img src="images/icons/stars/star--full.png" alt="">
                                        <img src="images/icons/stars/star--full.png" alt="">
                                        <img src="images/icons/stars/star--half.png" alt="">
                                        <img src="images/icons/stars/star--empty.png" alt="">
                                    </span>
                                </span>
                            </p>

                            <p class="doctor-card__min-price">Первичный прием - 6 500 ₽</p>

                            <div class="doctor-card__buttons">
                                <a class="doctor-card__action button button--primary" href="#">Записаться</a>

                                <a class="doctor-card__more button button--secondary" href="#">О враче</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-slider__nav">
            <button class="js-cards-slider-prev swiper-button-prev" type="button" title="Назад" data-slider="slider_3">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left_icon" />
                </svg>
            </button>

            <button class="js-cards-slider-next swiper-button-next" type="button" title="Вперёд" data-slider="slider_3">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right_icon" />
                </svg>
            </button>
        </div>
    </div>

    <div class="js-cards-slider-pagination swiper-pagination" data-slider="slider_3"></div>
</div>