<div class="js-cards-slider cards-slider" data-slider="slider_2">
    <div class="cards-slider__inner">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="address-card">
                        <div class="address-card__image">
                            <img src="images/content/address/img_1.jpg" srcset="images/content/address/img_1@2x.jpg 2x" alt="">
                        </div>

                        <div class="address-card__info">
                            <h3 class="address-card__title">Лечебно-диагностический комплекс на наб. р. Фонтанки, д. 154</h3>

                            <p class="address-card__metro">
                                <b>Ближайшее метро:</b>
                                Балтийская, Технологический ин-т, Нарвская
                            </p>

                            <div class="address-card__buttons">
                                <a class="address-card__more button button--secondary" href="#">Подробнее</a>

                                <button class="address-card__action button button--primary" type="button">Записаться</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="address-card">
                        <div class="address-card__image">
                            <img src="images/content/address/img_2.jpg" srcset="images/content/address/img_2@2x.jpg 2x" alt="">
                        </div>

                        <div class="address-card__info">
                            <h3 class="address-card__title">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</h3>

                            <p class="address-card__metro">
                                <b>Ближайшее метро:</b>
                                Василеостровская, Спортивная-2
                            </p>

                            <div class="address-card__buttons">
                                <a class="address-card__more button button--secondary" href="#">Подробнее</a>

                                <button class="address-card__action button button--primary" type="button">Записаться</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="address-card">
                        <div class="address-card__image">
                            <img src="images/content/address/img_3.jpg" srcset="images/content/address/img_3@2x.jpg 2x" alt="">
                        </div>

                        <div class="address-card__info">
                            <h3 class="address-card__title">Лечебно-диагностический комплекс на ул. Кораблестроителей, д. 20, к. 1</h3>

                            <p class="address-card__metro">
                                <b>Ближайшее метро:</b>
                                Приморская
                            </p>

                            <div class="address-card__buttons">
                                <a class="address-card__more button button--secondary" href="#">Подробнее</a>

                                <button class="address-card__action button button--primary" type="button">Записаться</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="address-card">
                        <div class="address-card__image">
                            <img src="images/content/address/img_1.jpg" srcset="images/content/address/img_1@2x.jpg 2x" alt="">
                        </div>

                        <div class="address-card__info">
                            <h3 class="address-card__title">Лечебно-диагностический комплекс на наб. р. Фонтанки, д. 154</h3>

                            <p class="address-card__metro">
                                <b>Ближайшее метро:</b>
                                Балтийская, Технологический ин-т, Нарвская
                            </p>

                            <div class="address-card__buttons">
                                <a class="address-card__more button button--secondary" href="#">Подробнее</a>

                                <button class="address-card__action button button--primary" type="button">Записаться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-slider__nav">
            <button class="js-cards-slider-prev swiper-button-prev" type="button" title="Назад" data-slider="slider_2">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left_icon" />
                </svg>
            </button>

            <button class="js-cards-slider-next swiper-button-next" type="button" title="Вперёд" data-slider="slider_2">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right_icon" />
                </svg>
            </button>
        </div>
    </div>

    <div class="js-cards-slider-pagination swiper-pagination" data-slider="slider_2"></div>
</div>