<div class="cookie-popup">
    <div class="cookie-popup__text-block">
        <p class="cookie-popup__title h3">Мы используем cookies</p>
        <p class="cookie-popup__text">Этот сайт использует файлы cookies для обеспечения удобства пользователей, анализа трафика и персонализации контента. Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов cookies.</p>
    </div>
    <div class="cookie-popup__buttons">
        <a class="button button--secondary" href="#">Подробнее</a>
        <button class="button button--primary" type="button">Хорошо</button>
    </div>
</div>