<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top-left">
                <div class="footer__logo">
                    <img src="images/logo.svg" alt="Клиника высоких медицинских технологий им. Н.И.Пирогова СПбГУ">
                </div>

                <div class="footer__socials">
                    <a class="social-link" href="#" target="_blank" rel="noreferrer nofollow" title="Мы Вконтакте">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#vk_icon" />
                        </svg>
                    </a>

                    <a class="social-link" href="#" target="_blank" rel="noreferrer nofollow" title="Наш Телеграм">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#tg_icon" />
                        </svg>
                    </a>

                    <a class="social-link" href="#" target="_blank" rel="noreferrer nofollow" title="Мы на RuTube">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#rt_icon" />
                        </svg>
                    </a>

                    <a class="social-link" href="#" target="_blank" rel="noreferrer nofollow" title="Мы в Одноклассниках">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#ok_icon" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="footer__top-center">
                <div class="footer__menu">
                    <li class="footer__menu-title">УСЛУГИ</li>
                    <li><a href="#">Взрослое отделение</a></li>
                    <li><a href="#">Детское отделение</a></li>
                    <li><a href="#">Стоматология</a></li>
                    <li><a href="#">Диагностика</a></li>
                </div>

                <div class="footer__menu">
                    <li class="footer__menu-title">КЛИНИКА</li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Врачи</a></li>
                    <li><a href="#">Попечительский совет</a></li>
                    <li><a href="#">Отделения</a></li>
                </div>

                <div class="footer__menu">
                    <li class="footer__menu-title">ПАЦИЕНТАМ</li>
                    <li><a href="#">Документация</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Помощь</a></li>
                </div>
            </div>

            <div class="footer__top-right">
                <div class="footer__images">
                    <a class="ocenka" href="#" target="_blank" rel="noreferrer nofollow" title="Независимая оценка качества оказания услуг медицинскими организациями">
                        <img src="images/content/footer/ocenka_kachestva.png" alt="Независимая оценка качества оказания услуг медицинскими организациями">
                    </a>

                    <a class="gosuslugi" href="#" target="_blank" rel="noreferrer nofollow" title="Госуслуги">
                        <img src="images/content/footer/gosuslugi.png" alt="Госуслуги">
                    </a>
                </div>

                <div class="footer__copyright">
                    © 2024 Клиника высоких медицинских<br> технологий им. Н.И. Пирогова
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <ul class="footer__bottom-menu">
                <li><a href="#">Лицензии</a></li>
                <li><a href="#">Надзорные органы</a></li>
                <li><a href="#">Противодействие коррупции</a></li>
                <li><a href="#">Карта сайта</a></li>
                <li><a href="#">Публикации</a></li>
                <li><a href="#">Политика конфиденциальности</a></li>
            </ul>

            <div class="footer__copyright">
                © 2024 Клиника высоких медицинских<br> технологий им. Н.И. Пирогова
            </div>

            <div class="footer__note">
                <p>Все материалы сайта (включая дизайн) защищены. Копирование и использование без письменного согласия запрещены. Ссылка на источник обязательна. Сведения носят справочно-образовательный характер. Не используйте их для самодиагностики
                    или самолечения. Диагностику и лечение определяет только ваш врач! Клиника не несет ответственности за последствия самолечения. Информация размещена согласно Приказу Минздрава России N 956н.</p>
            </div>
        </div>
    </div>
</footer>