<div id="form_result" class="popup popup--form_result">
    <p class="popup__title">Заявка принята.<br> Спасибо, что доверились нам</p>
    <div class="popup__text">
        <p>Мы получили ваше обращение — копия отправлена на вашу электронную почту. А в ближайшее время с вами свяжутся наши специалисты — чтобы услышать, понять и помочь.</p>
        <p>Мы рядом. Как и обещали.</p>
    </div>
</div>

<div id="form_with_text" class="popup popup--big doctor-record-form">
    <h2 class="doctor-record-form__title text-center" style="margin-bottom: 10px;">Записаться к врачу</h2>
    <p class="doctor-record-form__text">Врач: Аликбаев Тимур Зарифович</p>

    <div class="two-columns">
        <div class="doctor-record-form__block">
            <form class="form">
                <h3>Заявка на обратный звонок</h3>

                <p>Оставьте заявку, и сотрудники контакт-центра помогут подобрать удобное время и ответят на организационные вопросы. Мы свяжемся с вами в течение рабочего дня.</p>

                <div class="form-inputs">
                    <label class="input-group">
                        <span class="input-group__container">
                            <input class="input" type="text" name="name" value="" placeholder="Ваше имя *">
                        </span>
                    </label>
                    <label class="input-group">
                        <span class="input-group__container">
                            <input class="js-phone-mask input" type="text" name="phone" value="" placeholder="+ 7 (999) 999 99 99 *" inputmode="text">
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="agreement" value="y">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Принимаю условия Политики конфиденциальности и даю разрешение на обработку персональных данных в соответствии с <a href="/privacy-policy/" target="_blank">Согласием на обработку персональных
                                данных</a>.</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="subscribe" value="y">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Даю согласие на получение рекламно-информационных материалов.</span>
                    </label>
                    <button class="button button--primary" type="submit">Записаться</button>
                </div>
            </form>
        </div>

        <div class="doctor-record-form__block mobile-hidden">
            <p class="h3">Записаться онлайн</p>

            <p>Для этого, зарегистрируйтесь в <a href="#" target="_blank">Личном кабинете</a></p>

            <p><b>Преимущества регистрации:</b></p>

            <ul>
                <li>можно выбрать удобную дату и время;</li>
                <li>получить доступ к медицинским документам;</li>
                <li>управлять своими записями через личный кабинет.</li>
            </ul>
        </div>
    </div>
</div>