<div class="accordions">
    <div class="accordions__column">
        <div class="accordion">
            <div class="accordion__top">
                <h3 class="accordion__title">Измерение артериального давления</h3>

                <button class="js-accordion-toggler accordion__toggler" type="button" title="Открыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#plus_icon" />
                    </svg>
                </button>
            </div>

            <div class="accordion__body">
                <p>Артериальную гипертензию диагностируют при стойком повышении АД до 140/90 и более мм. рт.ст.</p>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion__top">
                <h3 class="accordion__title">Нерегулярный сердечный ритм</h3>

                <button class="js-accordion-toggler accordion__toggler" type="button" title="Открыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#plus_icon" />
                    </svg>
                </button>
            </div>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quos doloremque impedit porro vero, veniam quisquam, magni rerum quaerat quas esse deserunt cum temporibus distinctio pariatur excepturi est sequi quo.</p>
                <p>Impedit nobis ullam nostrum fugit blanditiis non nesciunt esse, eaque necessitatibus. Sunt soluta vero molestiae, sed reprehenderit earum ducimus temporibus natus incidunt!</p>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion__top">
                <h3 class="accordion__title">Замедленное сердцебиение (брадикардия)</h3>

                <button class="js-accordion-toggler accordion__toggler" type="button" title="Открыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#plus_icon" />
                    </svg>
                </button>
            </div>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quos doloremque impedit porro vero, veniam quisquam, magni rerum quaerat quas esse deserunt cum temporibus distinctio pariatur excepturi est sequi quo.</p>
                <p>Impedit nobis ullam nostrum fugit blanditiis non nesciunt esse, eaque necessitatibus. Sunt soluta vero molestiae, sed reprehenderit earum ducimus temporibus natus incidunt!</p>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion__top">
                <h3 class="accordion__title">Суточный мониторинг работы сердца по Холтеру</h3>

                <button class="js-accordion-toggler accordion__toggler" type="button" title="Открыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#plus_icon" />
                    </svg>
                </button>
            </div>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quos doloremque impedit porro vero, veniam quisquam, magni rerum quaerat quas esse deserunt cum temporibus distinctio pariatur excepturi est sequi quo.</p>
                <p>Impedit nobis ullam nostrum fugit blanditiis non nesciunt esse, eaque necessitatibus. Sunt soluta vero molestiae, sed reprehenderit earum ducimus temporibus natus incidunt!</p>
            </div>
        </div>
    </div>

    <div class="accordions__column">
        <div class="accordion">
            <div class="accordion__top">
                <h3 class="accordion__title">Анализ крови на определение уровня липидов, специфических маркеров</h3>

                <button class="js-accordion-toggler accordion__toggler" type="button" title="Открыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#plus_icon" />
                    </svg>
                </button>
            </div>

            <div class="accordion__body">
                <p>Артериальную гипертензию диагностируют при стойком повышении АД до 140/90 и более мм. рт.ст.</p>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion__top">
                <h3 class="accordion__title">Сцинтиграфия с радиоактивным изотопом </h3>

                <button class="js-accordion-toggler accordion__toggler" type="button" title="Открыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#plus_icon" />
                    </svg>
                </button>
            </div>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quos doloremque impedit porro vero, veniam quisquam, magni rerum quaerat quas esse deserunt cum temporibus distinctio pariatur excepturi est sequi quo.</p>
                <p>Impedit nobis ullam nostrum fugit blanditiis non nesciunt esse, eaque necessitatibus. Sunt soluta vero molestiae, sed reprehenderit earum ducimus temporibus natus incidunt!</p>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion__top">
                <h3 class="accordion__title">Электрокардиограмма в состоянии покоя</h3>

                <button class="js-accordion-toggler accordion__toggler" type="button" title="Открыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#plus_icon" />
                    </svg>
                </button>
            </div>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quos doloremque impedit porro vero, veniam quisquam, magni rerum quaerat quas esse deserunt cum temporibus distinctio pariatur excepturi est sequi quo.</p>
                <p>Impedit nobis ullam nostrum fugit blanditiis non nesciunt esse, eaque necessitatibus. Sunt soluta vero molestiae, sed reprehenderit earum ducimus temporibus natus incidunt!</p>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion__top">
                <h3 class="accordion__title">КТ сердца</h3>

                <button class="js-accordion-toggler accordion__toggler" type="button" title="Открыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#plus_icon" />
                    </svg>
                </button>
            </div>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quos doloremque impedit porro vero, veniam quisquam, magni rerum quaerat quas esse deserunt cum temporibus distinctio pariatur excepturi est sequi quo.</p>
                <p>Impedit nobis ullam nostrum fugit blanditiis non nesciunt esse, eaque necessitatibus. Sunt soluta vero molestiae, sed reprehenderit earum ducimus temporibus natus incidunt!</p>
            </div>
        </div>
    </div>
</div>