<div class="prices-block">
    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Длительность (онколог-хирург) : 20 минут. Длительность (онколог-маммолог, онколог-дерматолог): 30 минут
            </p>

            <h3 class="service-info__title"><a href="#">Экспертное мнение врача-онколога</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__new-price">2 500 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Длительность: 30 минут
            </p>

            <h3 class="service-info__title"><a href="#">Экспертное мнение врача-терапевта отделения амбулаторной гинекологии</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__new-price">5 000 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Длительность: 20 минут
            </p>

            <h3 class="service-info__title"><a href="#">Экспертное мнение врача-хирурга</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__new-price">2 500 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Длительность: 30 минут
            </p>

            <h3 class="service-info__title"><a href="#">Экспертное мнение врача-акушера-гинеколога</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__new-price">5 000 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Длительность: 30 минут
            </p>

            <h3 class="service-info__title"><a href="#">Экспертное мнение врача-уролога</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__new-price">3 500 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Длительность: 30 минут
            </p>

            <h3 class="service-info__title"><a href="#">Экспертное мнение врача-уролога Гаджиева Н.К.</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__new-price">7 000 ₽</span>
        </p>
    </div>
</div>