<div class="prices-block">
    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Консультация врача 60 мин
            </p>

            <h3 class="service-info__title"><a href="#">Прием (осмотр, консультация) врача-сосудистого хирурга (первичный, повторный)</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__old-price">6 000 ₽</span>
            <span class="service-info__new-price">4 000 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Консультация врача 60 мин
            </p>

            <h3 class="service-info__title"><a href="#">Прием (осмотр, консультация) врача-кардиолога (первичный, повторный)</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__old-price">6 000 ₽</span>
            <span class="service-info__new-price">4 000 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Консультация врача 60 мин
            </p>

            <h3 class="service-info__title"><a href="#">Дистанционная консультация врача-сосудистого хирурга (первичная, повторная)</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__old-price">10 000 ₽</span>
            <span class="service-info__new-price">8 000 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Консультация врача 60 мин
            </p>

            <h3 class="service-info__title"><a href="#">Дистанционная консультация врача-сосудистого хирурга (первичная, повторная)</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__old-price">8 000 ₽</span>
            <span class="service-info__new-price">6 000 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Консультация врача 60 мин
            </p>

            <h3 class="service-info__title"><a href="#">Дистанционная консультация врача-сосудистого хирурга (первичная, повторная)</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__old-price">8 000 ₽</span>
            <span class="service-info__new-price">6 000 ₽</span>
        </p>
    </div>

    <div class="service-info">
        <div class="service-info__inner">
            <p class="service-info__duration">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#clock_icon" />
                </svg>
                Консультация врача 60 мин
            </p>

            <h3 class="service-info__title"><a href="#">Дистанционная консультация врача-аритмолога, включая контроль настроек искусственного водителя сердечного ритма</a></h3>
        </div>

        <p class="service-info__price-block">
            <span class="service-info__old-price">10 000 ₽</span>
            <span class="service-info__new-price">8 000 ₽</span>
        </p>
    </div>
</div>