<button class="button button--primary" type="button">Кнопка</button>

<a class="button button--primary" href="#">Ссылка</a>

<button class="button button--primary button--h_52" type="button">Кнопка</button>

<a class="button button--primary button--h_52" href="#">Ссылка</a>

<button class="button button--primary" type="button" disabled>Кнопка</button>

<a class="button button--primary disabled">Ссылка</a>

<button class="button button--primary button--h_52" type="button" disabled>Кнопка</button>

<a class="button button--primary button--h_52 disabled">Ссылка</a>

<br> <br>

<button class="button button--secondary" type="button">Кнопка</button>

<a class="button button--secondary" href="#">Ссылка</a>

<button class="button button--secondary button--h_52" type="button">Кнопка</button>

<a class="button button--secondary button--h_52" href="#">Ссылка</a>

<button class="button button--secondary" type="button" disabled>Кнопка</button>

<a class="button button--secondary disabled">Ссылка</a>

<button class="button button--secondary button--h_52" type="button" disabled>Кнопка</button>

<a class="button button--secondary button--h_52 disabled">Ссылка</a>