<label class="checkbox">
    <input type="checkbox" value="" name="">
    <span class="checkbox__icon"></span>
    <span class="checkbox__text">Нажимая на кнопку “Отправить”, я даю согласие на <a href="#">обработку персональных данных</a></span>
</label>

<br>

<label class="checkbox">
    <input type="checkbox" value="" name="" checked>
    <span class="checkbox__icon"></span>
    <span class="checkbox__text">Нажимая на кнопку “Отправить”, я даю согласие на <a href="#">обработку персональных данных</a></span>
</label>

<br>

<label class="checkbox">
    <input type="checkbox" value="" name="" disabled>
    <span class="checkbox__icon"></span>
    <span class="checkbox__text">Нажимая на кнопку “Отправить”, я даю согласие на <a href="#">обработку персональных данных</a></span>
</label>

<br>

<label class="checkbox">
    <input type="checkbox" value="" name="" disabled checked>
    <span class="checkbox__icon"></span>
    <span class="checkbox__text">Нажимая на кнопку “Отправить”, я даю согласие на <a href="#">обработку персональных данных</a></span>
</label>