<h2>Комбобокс</h2>

<div class="combobox combobox--small" style="max-width: 300px">
    <button class="js-combobox-toggler combobox__value-block" type="button">
        <div class="combobox__value is-active">M/140</div>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_down_light"></use>
        </svg>
    </button>

    <div class="combobox__dropdown">
        <div class="combobox__list">
            <a class="combobox__link" href="#">12 мес</a>
            <a class="combobox__link" href="#">18 мес</a>
            <a class="combobox__link" href="#">XXS/104</a>
            <a class="combobox__link is-active" href="#">M/140</a>
            <a class="combobox__link" href="#">XL</a>
            <a class="combobox__link" href="#">58</a>
        </div>
    </div>
</div>

<br>

<div class="combobox" style="max-width: 300px">
    <button class="js-combobox-toggler combobox__value-block" type="button">
        <div class="combobox__value is-active">M/140</div>
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_down_light"></use>
        </svg>
    </button>

    <div class="combobox__dropdown">
        <div class="combobox__list">
            <a class="combobox__link" href="#">12 мес</a>
            <a class="combobox__link" href="#">18 мес</a>
            <a class="combobox__link" href="#">XXS/104</a>
            <a class="combobox__link is-active" href="#">M/140</a>
            <a class="combobox__link" href="#">XL</a>
            <a class="combobox__link" href="#">58</a>
        </div>
    </div>
</div>