<label class="radio">
    <input type="radio" value="1" name="var" checked>
    <span class="radio__icon"></span>
    <span class="radio__text">Вариант 1</span>
</label>

<br>

<label class="radio">
    <input type="radio" value="2" name="var">
    <span class="radio__icon"></span>
    <span class="radio__text">Вариант 2</span>
</label>

<br>

<label class="radio">
    <input type="radio" value="3" name="var">
    <span class="radio__icon"></span>
    <span class="radio__text">Вариант 3</span>
</label>

<br>

<label class="radio">
    <input type="radio" value="4" name="var" disabled>
    <span class="radio__icon"></span>
    <span class="radio__text">Вариант 4</span>
</label>

<br>

<label class="radio">
    <input type="radio" value="5" name="var_1" disabled checked>
    <span class="radio__icon"></span>
    <span class="radio__text">Вариант 5</span>
</label>