<div class="tabs-nav tabs-nav--type_1">
    <button class="tabs-nav__button is-active" type="button">Статьи</button>
    <button class="tabs-nav__button" type="button">Видео</button>
    <button class="tabs-nav__button" type="button">Научные работы</button>
</div>

<br><br>

<div class="tabs-nav tabs-nav--type_1">
    <button class="tabs-nav__button is-active" type="button">Важно знать</button>
    <button class="tabs-nav__button" type="button">Цены на УЗИ</button>
    <button class="tabs-nav__button" type="button">Врачи</button>
    <button class="tabs-nav__button" type="button">Клиника рядом со мной</button>
    <button class="tabs-nav__button" type="button">Наше оборудование</button>
    <button class="tabs-nav__button" type="button">Клиники</button>
    <button class="tabs-nav__button" type="button">Отзывы</button>
    <button class="tabs-nav__button" type="button">Вопросы и ответы</button>
</div>

<br><br>

<div class="tabs-nav tabs-nav--type_2">
    <button class="tabs-nav__button is-active" type="button">Врачи 240</button>
    <button class="tabs-nav__button" type="button">Специализации 89</button>
</div>

<br><br>

<div class="tabs-nav tabs-nav--type_3">
    <button class="tabs-nav__button is-active" type="button">Специализация</button>
    <button class="tabs-nav__button" type="button">Образование</button>
    <button class="tabs-nav__button" type="button">Научная деятельность</button>
</div>