<div class="incut incut--type_1">
    <div class="incut__icon">
        <img src="images/content/incut/icon_1.png" alt="">
    </div>

    <div class="incut__inner">
        <div class="incut__text">
            <p>Клиника высоких медицинских технологий им. Н.И. Пирогова СПбГУ обладает всеми современными и высокотехнологичными возможностями для диагностики, медикаментозного и интервенционного лечения самых разнообразных видов нарушений ритма и
                проводимости.</p>
            <p>
                <a class="button button--primary" href="#">Записаться на консультацию</a>
            </p>
        </div>
    </div>
</div>