<div class="page__section">
    <h2 class="text-center">Скрининг факторов риска ХБП</h2>

    <form class="hbp-form" action="">
        <h3 class="text-center">Общая информация</h3>

        <div class="hbp-form__inputs">
            <div>
                <label class="input-group">
                    <span class="input-group__container">
                        <input class="input" type="text" name="fio" value="" placeholder="ФИО*">
                    </span>
                </label>
            </div>

            <div>
                <label class="input-group">
                    <span class="input-group__container">
                        <input class="js-date-mask input" type="text" name="birth" value="" placeholder="Дата рождения*">
                    </span>
                </label>
            </div>

            <div>
                <label class="input-group">
                    <span class="input-group__container">
                        <input class="js-email-mask input" type="text" name="email" value="" placeholder="Email*">
                    </span>
                </label>
            </div>

            <div>
                <label class="input-group">
                    <span class="input-group__container">
                        <input class="js-phone-mask input" type="text" name="phone" value="" placeholder="Телефон*">
                    </span>
                </label>
            </div>
        </div>

        <hr>

        <h3 class="text-center">Форма обучения</h3>

        <div class="hbp-form__radios">
            <label class="radio">
                <input type="radio" value="1" name="form">
                <span class="radio__icon"></span>
                <span class="radio__text">Очная</span>
            </label>

            <label class="radio">
                <input type="radio" value="2" name="form">
                <span class="radio__icon"></span>
                <span class="radio__text">Онлайн</span>
            </label>
        </div>

        <hr>

        <h3 class="text-center">Оценка факторов риска развития ХБП</h3>

        <p class="text-center">Отметьте имеющееся:</p>

        <p class="text-center"><b>Наследственные факторы</b></p>

        <div class="hbp-form__checkboxes hbp-form__checkboxes--type_1">
            <label class="checkbox">
                <input type="checkbox" value="" name="var_1">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">
                    Наследственные факторы
                    <span class="checkbox__caption">Болеют ли/болели ли при жизни кровные родственники (мама, папа, бабушка, дедушка, братья, сестры и т.д.) заболеваниями почек (хроническая болезнь почек, хроническая почечная недостаточность), были
                        ли они на
                        диализе</span>
                </span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_2">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">
                    Перенесенное острое повреждение почек (ОПП)
                    <span class="checkbox__caption">Острая почечная недостаточность в анамнезе</span>
                </span>
            </label>
        </div>

        <p class="text-center"><b>Сопутствующие заболевания и факторы образа жизни</b></p>

        <p class="text-center">Есть ли у Вас следующие заболевания:</p>

        <p class="text-center"><b>Группа А</b></p>

        <div class="hbp-form__checkboxes hbp-form__checkboxes--type_2">
            <label class="checkbox">
                <input type="checkbox" value="" name="var_3">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Сахарный диабет</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_4">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Артериальная гипертензия</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_5">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Дислипопротеидемия</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_6">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Табакокурение</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_7">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Ожирение/метаболический синдром</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_8">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Неалкогольная жировая болезнь печени</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_9">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Гиперурикемия (повышенный уровень мочевой кислоты в крови)</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_10">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Аутоиммунные болезни (Системная красная волчанка, васкулиты, амилоидоз и др.)</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_11">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Хроническое воспаление/cистемные инфекции</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_12">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Лекарственная токсичность (длительное постоянное применение лекарств, имеющих в побочных эффектах развитие хронической/острой почечной недостаточности)</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_13">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Высокое потребление белка (соблюдение кремлёвской диеты, предпочтение мясу в рационе питания, употребление больших количеств протеиновых добавок)</span>
            </label>


        </div>

        <p class="text-center"><b>Группа Б</b></p>

        <div class="hbp-form__checkboxes hbp-form__checkboxes--type_1">
            <label class="checkbox">
                <input type="checkbox" value="" name="var_14">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Инфекции и конкременты мочевых путей (мочекаменная болезнь, пиелонефрит и др.)</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" value="" name="var_15">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Обструкция нижних мочевых путей (аденома предстательной железы, стриктура уретры и др.)</span>
            </label>
        </div>

        <div class="hbp-form__button-block">
            <button class="button button--primary" type="submit">Отправить</button>
        </div>
    </form>
</div>