<div class="pagination">
    <a class="pagination__more button button--secondary" href="#">Показать ещё</a>

    <ul class="pagination__pager">
        <li>
            <a class="pagination__pager-prev" href="#">Назад</a>
        </li>

        <li>
            <a class="pagination__pager-page" href="#">1</a>
        </li>

        <li>
            <a class="pagination__pager-page is-active" href="#">2</a>
        </li>

        <li>
            <a class="pagination__pager-page" href="#">3</a>
        </li>

        <li>
            <a class="pagination__pager-page" href="#">4</a>
        </li>

        <li>
            <span class="pagination__pager-page">...</span>
        </li>

        <li>
            <a class="pagination__pager-page" href="#">100</a>
        </li>

        <li>
            <a class="pagination__pager-next" href="#">Вперед</a>
        </li>
    </ul>
</div>