<form class="filter">
    <div class="filter__top">
        <p class="filter__title">Фильтр</p>

        <button class="js-filter-closer filter__closer" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#close_icon" />
            </svg>
        </button>
    </div>

    <div class="filter__grid">
        <div class="combobox">
            <button class="js-combobox-toggler combobox__title" type="button">
                <span>Клиника</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#triangle_down" />
                </svg>
            </button>

            <div class="combobox__dropdown">
                <button class="js-combobox-closer combobox__closer" type="button" title="Закрыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_left_icon" />
                    </svg>

                    <span>Клиника</span>
                </button>

                <div class="combobox__list">
                    <label class="checkbox">
                        <input type="checkbox" value="1" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на наб. р. Фонтанки, д. 154</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="2" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="3" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="4" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="5" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="6" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="7" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="8" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="9" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="10" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="11" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="12" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="13" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="14" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="15" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="16" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="17" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="18" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="19" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="20" name="clinic">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Лечебно-диагностический комплекс на Кадетской линии В. О., д. 13-15</span>
                    </label>
                </div>

                <div class="combobox__controls">
                    <button class="button button--secondary" type="button">Сбросить</button>

                    <button class="button button--primary" type="button">Применить</button>
                </div>
            </div>
        </div>

        <div class="combobox">
            <button class="js-combobox-toggler combobox__title" type="button">
                <span>Специальность</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#triangle_down" />
                </svg>
            </button>

            <div class="combobox__dropdown">
                <button class="js-combobox-closer combobox__closer" type="button" title="Закрыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_left_icon" />
                    </svg>

                    <span>Специальность</span>
                </button>

                <div class="combobox__list">
                    <label class="checkbox">
                        <input type="checkbox" value="1" name="spec">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Аллерголог-иммунолог</span>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" value="2" name="spec">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Акушер-гинеколог</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" value="3" name="spec">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Анестезиолог-реаниматолог</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" value="4" name="spec">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Андролог-эндокринолог</span>
                    </label>
                </div>

                <div class="combobox__controls">
                    <button class="button button--secondary" type="button">Сбросить</button>

                    <button class="button button--primary" type="button">Применить</button>
                </div>
            </div>
        </div>

        <div class="filter__results-list">
            <button class="filter__result" type="button" title="Сбросить">
                <span>Лечебно-диагностический комплекс на наб. р. Фонтанки, д. 154</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>

            <button class="filter__result" type="button" title="Сбросить">
                <span>Институт онкологии</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>

            <button class="filter__result" type="button" title="Сбросить">
                <span>Врач первой категории</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>

            <button class="filter__result" type="button" title="Сбросить">
                <span>Институт онкологии</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>

            <button class="filter__result" type="button" title="Сбросить">
                <span>Врач первой категории</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>
        </div>

        <div class="combobox">
            <button class="js-combobox-toggler combobox__title" type="button">
                <span>По цене</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#triangle_down" />
                </svg>
            </button>

            <div class="combobox__dropdown">
                <button class="js-combobox-closer combobox__closer" type="button" title="Закрыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_left_icon" />
                    </svg>

                    <span>По цене</span>
                </button>

                <div class="combobox__list">
                    <label class="radio">
                        <input type="radio" value="1" name="price">
                        <span class="radio__icon"></span>
                        <span class="radio__text">По возрастанию</span>
                    </label>

                    <label class="radio">
                        <input type="radio" value="2" name="price">
                        <span class="radio__icon"></span>
                        <span class="radio__text">По убыванию</span>
                    </label>
                </div>

                <div class="combobox__controls">
                    <button class="button button--secondary" type="button">Сбросить</button>

                    <button class="button button--primary" type="button">Применить</button>
                </div>
            </div>
        </div>

        <div class="combobox">
            <button class="js-combobox-toggler combobox__title" type="button">
                <span>По дате приёма</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#triangle_down" />
                </svg>
            </button>

            <div class="combobox__dropdown combobox__dropdown--calendar">
                <button class="js-combobox-closer combobox__closer" type="button" title="Закрыть">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_left_icon" />
                    </svg>

                    <span>По дате приёма</span>
                </button>

                <input class="js-date-mask js-date-range-min-date" type="text" name="date" placeholder="дд.мм.гггг" style="display: none">

                <div class="combobox__controls">
                    <button class="js-dp-clear button button--secondary" type="button">Сбросить</button>

                    <button class="button button--primary" type="button">Применить</button>
                </div>
            </div>
        </div>

        <div class="tabs-nav tabs-nav--type_1">
            <label class="tabs-nav__radio">
                <input type="radio" name="type" value="m">
                <span class="tabs-nav__radio-text">Мужчины</span>
            </label>
            <label class="tabs-nav__radio">
                <input type="radio" name="type" value="w">
                <span class="tabs-nav__radio-text">Женщины</span>
            </label>
            <label class="tabs-nav__radio">
                <input type="radio" name="type" value="c">
                <span class="tabs-nav__radio-text">Дети</span>
            </label>
        </div>
    </div>

    <div class="filter__results">
        <button class="filter__reset" type="reset" title="Сбросить фильтр">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#close_icon" />
            </svg>
        </button>

        <div class="js-filter-results filter__results-list">
            <button class="filter__result" type="button" title="Сбросить">
                <span>Лечебно-диагностический комплекс на наб. р. Фонтанки, д. 154</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>

            <button class="filter__result" type="button" title="Сбросить">
                <span>Институт онкологии</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>

            <button class="filter__result" type="button" title="Сбросить">
                <span>Врач первой категории</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>

            <button class="filter__result" type="button" title="Сбросить">
                <span>Институт онкологии</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>

            <button class="filter__result" type="button" title="Сбросить">
                <span>Врач первой категории</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#close_2_icon" />
                </svg>
            </button>
        </div>

        <button class="js-filter-results-toggler filter__collapse" type="button" title="Развернуть">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_down" />
            </svg>
        </button>
    </div>

    <div class="filter__buttons">
        <button class="button button--primary" type="button">Показать результаты</button>
        <button class="button button--secondary" type="reset">Сбросить результаты</button>
    </div>
</form>