<div class="two-columns two-columns--reverse">
    <div>
        <h2>Основным направлением деятельности клиники является плановая хирургия</h2>
        <p>Eжегодно мы проводим более 25.000 операций для жителей всех регионов России.</p>
        <p><b>Статус университетской клиники накладывает особые обязательства: просветительская и научно-образовательная деятельность являются для нас такими же важными задачами, как и лечебная работа.</b></p>
    </div>

    <div>
        <img src="images/content/two_columns/img_25.jpg" srcset="images/content/two_columns/img_25@2x.jpg 2x" alt="">
    </div>
</div>