<div class="two-columns two-columns--bg two-columns--reverse">
    <div>
        <h2>Лечение при нарушениях ритма и проводимости направлено, прежде всего, на причину заболевания.</h2>
        <p>Медикаментозное лечение позволяет не только упорядочить сокращения сердца, но и замедлить изменения сердца при хронических заболеваниях, предотвратить тромботические осложнения. Однако такое лечение не всегда бывает достаточным, и, чтобы
            позволить пациентам вернуться к активному образу жизни, предотвратить возникновение жизнеугрожающих аритмий и их осложнений, иногда необходимо оперативное вмешательство</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_6.jpg" srcset="images/content/two_columns/img_6@2x.jpg 2x" alt="">
    </div>
</div>