<div class="two-columns two-columns--bg">
    <div>
        <h2>Диагностика</h2>
        <p>В некоторых случаях нарушения ритма и проводимости случайно выявляют на ЭКГ. Это основной метод диагностики данной патологии. </p>
        <p>Для подтверждения диагноза, уточнения характеристик заболевания и дальнейшего контроля за лечением ЭКГ исследуют в течение суток – мониторирование по Холтеру. Дополнительно проводят УЗИ сердца (ЭХО-КГ), лабораторную диагностику (может
            включать общеклинический анализ крови, биохимический анализ крови, определение уровня ряда гормонов). Иногда прибегают к КТ или МРТ сердца.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_5.jpg" srcset="images/content/two_columns/img_5@2x.jpg 2x" alt="">
    </div>
</div>