<div class="two-columns two-columns--imaged" style="background-image: url('images/content/doctors/banner_desk@2x.jpg')">
    <div>
        <p><span class="h2">Ядро команды составляют более 300 врачей</span> практически всех медицинских специальностей, в том числе профессора, кандидаты и доктора наук.</p>
        <p>Каждого, кто работает в Клинике, отличает следование нашим ключевым ценностям — традиции и компетентность.</p>
        <p>Врачи, медицинские сестры, руководители, младший медицинский и вспомогательный персонал постоянно развиваются, чтобы быть уверенными в своей компетентности - в профессиональных вопросах, в этических ориентирах, в навыках работы в команде и
            общения с пациентами.</p>
    </div>
</div>