<div class="two-columns two-columns--bg">
    <div>
        <h2>Режим работы процедурного кабинета лаборатории:</h2>
        <p class="big-text">Лечебно-диагностический комплекс на наб.&nbsp;р.&nbsp;Фонтанки, д.&nbsp;154</p>
        <p class="big-text"><b class="accent-color">Процедурный кабинет (цокольный этаж):</b><br> ПН - ПТ 8:00-15:30, СБ 9:00-13:00, ВС- выходной.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_14.jpg" srcset="images/content/two_columns/img_14@2x.jpg 2x" alt="">
    </div>
</div>