<div class="two-columns">
    <div>
        <p><b>Цистоцеле</b> - наиболее часто встречающийся тип пролапса тазовых органов у женщин.</p>
        <p><b>Наиболее характерные жалобы при цистоцеле:</b></p>
        <ul>
            <li>учащенное мочеиспускание</li>
            <li>затруднения при мочеиспускании</li>
            <li>чувство неполного опорожнения мочевого пузыря</li>
            <li>тяжесть внизу живота</li>
        </ul>
        <p><b>Наиболее характерные жалобы при ректоцеле:</b></p>
        <ul>
            <li>запоры</li>
            <li>трудности при опорожнении прямой кишки (необходимость "вправлять влагалище")</li>
            <li>чувство инородного тела в промежности</li>
        </ul>
        <p><b>Опущение матки чаще всего сочетается с опущением мочевого пузыря (цистоцеле) и/или прямой кишки (ректоцеле), поэтому могут возникать жалобы, характерные для обоих заболеваний.</b></p>
    </div>

    <div class="equal">
        <img src="images/content/two_columns/img_33.jpg" srcset="images/content/two_columns/img_33@2x.jpg 2x" alt="">
    </div>
</div>