<div class="two-columns">
    <div class="bg">
        <h2>Организация госпитализации</h2>
        <p>С целью хирургического лечения осуществляется по принципу «одного окна».</p>
        <p>Для этого пациенту (или лицу его представляющему) достаточно написать письмо с формулировкой своего вопроса.</p>
        <a class="button button--primary" href="#">Написать письмо</a>
    </div>

    <div class="equal">
        <img src="images/content/two_columns/img_32.jpg" srcset="images/content/two_columns/img_32@2x.jpg 2x" alt="">
    </div>
</div>