<div class="two-columns two-columns--bg">
    <div>
        <img src="images/content/two_columns/img_40.jpg" srcset="images/content/two_columns/img_40@2x.jpg 2x" alt="">
    </div>

    <div>
        <h2>Отслеживание отдаленных результатов лечения</h2>
        <p>Важнейшим элементом нашей работы мы считаем отслеживание отдаленных результатов лечения. Более 80% наших пациенток регулярно осматриваются специалистами Центра в отдаленном послеоперационном периоде. Это позволяет видеть реальную картину
            эффективности и безопасности осуществляемого лечения.</p>
    </div>
</div>