<div class="two-columns">
    <div class="bg">
        <form action="">
            <h2>Хотите работать в Клинике СПбГУ?</h2>

            <p>Свяжитесь с нами, и мы предоставим<br> необходимую информацию.</p>

            <label class="input-group">
                <span class="input-group__container">
                    <input class="input" type="text" name="name" value="" placeholder="Ваше имя">
                </span>
            </label>

            <label class="input-group">
                <span class="input-group__container">
                    <input class="js-phone-mask input" type="text" name="phone" value="" placeholder="+ 7 (999) 999 99 99">
                </span>
            </label>

            <label class="input-group">
                <span class="input-group__container">
                    <input class="js-email-mask input" type="text" name="email" value="" placeholder="Email">
                </span>
            </label>

            <label class="input-group">
                <span class="input-group__container">
                    <input class="input" type="text" name="place" value="" placeholder="Желаемая должность">
                </span>
            </label>

            <div class="file">
                <div class="file__title">Файл с резюме:</div>

                <div class="file__wrapper">
                    <label class="file__label">
                        <input type="file" name="resume">
                        <span class="file__label-text">Прикрепить файл</span>
                    </label>

                    <button class="js-file-clear file__delete" type="button" title="Удалить">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#delete_icon" />
                        </svg>
                    </button>
                </div>
            </div>

            <label class="checkbox">
                <input type="checkbox" name="terms">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Я разрешаю обработку своих <a href="#">персональных данных</a></span>
            </label>

            <button class="button button--primary" type="submit">Отправить</button>
        </form>
    </div>

    <div class="mobile-hidden equal">
        <img src="images/content/two_columns/img_27.jpg" srcset="images/content/two_columns/img_27@2x.jpg 2x" alt="">
    </div>
</div>