<div class="two-columns">
    <div class="equal">
        <img src="images/content/two_columns/img_38.jpg" srcset="images/content/two_columns/img_38@2x.jpg 2x" alt="">
    </div>

    <div class="bg">
        <h2>Лечение в Клинике ВМТ ИМ. Н.И. Пирогова СПБГУ</h2>
        <p>Организация госпитализации с целью хирургического лечения осуществляется по принципу «одного окна».</p>
        <p>Для этого пациенту (или лицу его представляющему) достаточно написать письмо с формулировкой своего вопроса.</p>
        <a class="button button--primary" href="#">Написать письмо</a>
    </div>
</div>