<div class="two-columns two-columns--bg">
    <div>
        <h2>Школа здорового веса Клиники СПбГУ</h2>
        <p>Врачи ознакомились с жалобами, провели осмотр и дали рекомендации по дальнейшей диагностике и тактике лечения. По направлению эндокринолога пациентам с избыточной массой тела было предложено присоединиться к Школе здорового веса Клиники
            СПбГУ.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_18.jpg" srcset="images/content/two_columns/img_18@2x.jpg 2x" alt="">
    </div>
</div>

<div class="two-columns two-columns--bg two-columns--reverse">
    <div>
        <h2>Комплексный подход</h2>
        <p>Комплексный подход ведения и наблюдения пациентов позволяет врачам разных специальностей эффективно решать задачи по диагностике, лечению и реабилитации на любом этапе заболевания. Врачи Клиники СПбГУ призывают бережно относиться к себе и
            своему здоровью, проходить регулярные медицинские осмотры, потому что профилактика — это залог вашего долголетия.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_19.jpg" srcset="images/content/two_columns/img_19@2x.jpg 2x" alt="">
    </div>
</div>