<div class="two-columns two-columns--bg two-columns--reverse">
    <div>
        <h2>Карьера в КВМТ</h2>
        <p><b>Вместе со стремлением к новым технологиям и знаниям, мы уважаем преемственность и понимаем, что лучшие клиники мира добились успеха именно потому, что их коллективы в полной мере осознавали ценность традиций и следовали им.</b></p>
        <p>Мы чтим богатую историю нашей Клиники, культивируем наставничество во всех службах и делаем всё возможное, чтобы новые сотрудники как можно скорее адаптировались при переходе на работу в Клинику и могли добиваться максимальных результатов.
        </p>
    </div>
    <div>
        <img src="images/content/two_columns/img_26.jpg" srcset="images/content/two_columns/img_26@2x.jpg 2x" alt="">
    </div>
</div>