<div class="two-columns">
    <div>
        <h2>Ультразвуковая диагностика (УЗД) или ультразвуковое исследование (УЗИ)</h2>
        <p>— это неразрушающее (неинвазивное) исследование организма человека или внутренней структуры различных объектов и протекающих в них процессов с помощью ультразвуковых волн. В основном, работает на принципах методов эхозондирования, в ряде
            случаев - на принципах трансмиссионных методов.</p>
        <p>Кабинеты отделения ультразвуковой диагностики оборудованы современными ультразвуковыми приборами, оснащены всеми последними достижениями мировой науки в ультразвуковой диагностике.</p>
        <h3>Это даёт возможность для:</h3>
        <ul>
            <li>полной цифровой обработки изображения;</li>
            <li>цветового доплеровского картирования для исследования сосудов;</li>
            <li>использования мультичастотных датчиков с высокой разрешающей способностью для высококачественной визуализации тканей человеческого организма.</li>
        </ul>
    </div>

    <div>
        <img src="images/content/two_columns/img_8.jpg" srcset="images/content/two_columns/img_8@2x.jpg 2x" alt="">
    </div>
</div>