<div class="two-columns two-columns--bg two-columns--reverse">
    <div>
        <h2>Экспертное мнение врача-специалиста является  информационной услугой</h2>
        <p><b>В течение 30 минут в удаленном режиме</b> посредством видеосвязи пациент получает возможность задать любые интересующие его вопросы по установленной теме беседы и получить развернутые ответы от врача Клиники ВМТ им. Н.И. Пирогова СПбГУ.
        </p>
        <p>Вопросы могут касаться особенностей определенных заболеваний, профилактики, методов диагностики и лечения, реабилитации, осложнений и побочных эффектов. В цели беседы не входит постановка диагноза или назначение лечения конкретному
            пациенту.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_11.jpg" srcset="images/content/two_columns/img_11@2x.jpg 2x" alt="">
    </div>
</div>