<div class="two-columns">
    <div>
        <p>Согласно протоколам Всемирной Организации Здравоохранения (ВОЗ) при наличии сердечно-сосудистых факторов риска, таких как повышенный уровень холестерина, сахарный диабет, наследственность, ожирение, курение, после 45 лет требуется
            проведение ежегодного обследования у кардиолога.</p>
        <p>Кардиологи Клиники сердца и сосудов проводят все современные методы обследования сердечно-сосудистой системы, позволяющие диагностировать как серьезные заболевания, связанные с поражением сердца и сосудов, так и начальные, часто еще
            доклинические, формы дисфункций этой системы.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_7.jpg" srcset="images/content/two_columns/img_7@2x.jpg 2x" alt="">
    </div>
</div>