<div class="two-columns">
    <div class="bg">
        <h2>Лечебно-диагностический комплекс на Фонтанке (стационар № 1)</h2>

        <h3 class="accent-color">Адрес:</h3>
        <p class="big-text">190020, г. Санкт-Петербург, набережная реки Фонтанки, дом 154.</p>

        <h3 class="accent-color">Часы работы:</h3>
        <p class="big-text">стационар - круглосуточно.<br> Диагностические услуги с 8.00 до 20.00</p>

        <h3 class="accent-color">Рейтинг</h3>

        <div class="filial-rating">
            <iframe src="https://yandex.ru/sprav/widget/rating-badge/1339811490?type=rating" width="150" height="52" frameborder="0"></iframe>

            <a class="button button--secondary button--h_52" href="#" target="_blank">Мы в Telegram</a>
        </div>
    </div>

    <div class="equal">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aee7a2d366e6d07a7cbffc43d0b3a7462f383f90f55a4084e8543b5caf7053432&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
    </div>
</div>