<div class="two-columns">
    <div>
        <h2>Проект объединяет специалистов различных направлений</h2>
        <p>Проект объединяет специалистов различных направлений заинтересованных в изучении агрессивных форм рака щитовидной железы и разработке оптимальных тактических решений в его лечении. В работе круглого стола примут участие хирурги-
            эндокринологи, являющиеся лидерами мнений в отношении лечения рака щитовидной железы, эндокринологи, онкологи, клеточные биологи, биотехнологи, специалисты по клиническим испытаниям, морфологи.</p>
        <p>Мы надеемся, что в результате проведения круглого стола появятся новые идеи, будут намечены новые направления в изучении агрессивных форм рака щитовидной железы, выработаны новые взгляды на выбор и тестирование лекарственных средств
            адъювантной и неадъювантной терапии.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_31.jpg" srcset="images/content/two_columns/img_31@2x.jpg 2x" alt="">
    </div>
</div>