<div class="two-columns">
    <div>
        <h2>Информация о клинике</h2>
        <p class="big-text">На сегодняшний день клиника является ведущим многопрофильным медицинских учреждений России, уверенно занимая лидирующие позиции по оказанию высокотехнологичной медицинской помощи населению в стране (более 80% пациентов
            получают помощь в рамках системы обязательного медицинского страхования), а также по договорам добровольного медицинского страхования, договорам с организациями и за наличный расчёт.</p>
        <p class="big-text"><b class="accent-color">В структуру клиники входит два стационара и четыре лечебно-диагностических комплекса амбулаторного профиля.</b> Клиника регулярно входит в профессиональные рейтинги как лучшее государственное
            медицинское учреждение
            Санкт-Петербурга по
            независимым отзывам пациентов на агрегаторах <a href="#">ПроДокторов</a> и <a href="#">НаПоправку</a>.</p>
    </div>

    <div class="equal">
        <img src="images/content/two_columns/img_2.jpg" srcset="images/content/two_columns/img_2@2x.jpg 2x" alt="">
    </div>
</div>