<div class="two-columns">
    <div class="bg">
        <h1>Лечебно-диагностический комплекс на Фонтанке (стационар № 1)</h1>

        <p class="big-text">Клиника высоких медицинских технологий им. Н. И. Пирогова (поликлиника, стационар) Санкт-Петербургского государственного университета.</p>

        <h3 class="accent-color">Адрес:</h3>
        <p class="big-text">190020, г. Санкт-Петербург, набережная реки Фонтанки, дом 154.</p>

        <h3 class="accent-color">Часы работы:</h3>
        <p class="big-text">стационар - круглосуточно.<br> Диагностические услуги с 8.00 до 20.00</p>

        <h3 class="accent-color">Рейтинг</h3>

        <div class="filial-rating">
            <iframe src="https://yandex.ru/sprav/widget/rating-badge/1339811490?type=rating" width="150" height="52" frameborder="0"></iframe>

            <a class="button button--secondary button--h_52" href="#" target="_blank">Мы в Telegram</a>
        </div>
    </div>

    <div class="equal">
        <img src="images/content/two_columns/img_16.jpg" srcset="images/content/two_columns/img_16@2x.jpg 2x" alt="">
    </div>
</div>