<div class="two-columns two-columns--bg two-columns--reverse">
    <div>
        <h2>Клиника в СМИ</h2>
        <p><b>Мы с большим вниманием подходим ко всем запросам средств массовой информации, которые поступают в Клинику, и всегда стараемся обеспечить каждому представителю медиа индивидуальный подход.</b></p>
        <p>Мы верим, что такой подход к сотрудничеству со СМИ позволяет нам доносить принципы доказательной медицины до населения и надеемся, что наша просветительская деятельность со временем поможет повысить раннюю выявляемость заболеваний
            и улучшить уровень здравоохранения в стране в целом.</p>
    </div>
    <div>
        <img src="images/content/two_columns/img_29.jpg" srcset="images/content/two_columns/img_29@2x.jpg 2x" alt="">
    </div>
</div>