<div class="two-columns two-columns--slider">
    <div>
        <div class="js-image-slider image-slider" data-slider="slider_1">
            <div class="image-slider__inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="images/content/two_columns/img_10.jpg" srcset="images/content/two_columns/img_10@2x.jpg 2x" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/content/two_columns/img_10.jpg" srcset="images/content/two_columns/img_10@2x.jpg 2x" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/content/two_columns/img_10.jpg" srcset="images/content/two_columns/img_10@2x.jpg 2x" alt="">
                        </div>
                    </div>
                </div>

                <div class="image-slider__nav">
                    <button class="js-image-slider-prev swiper-button-prev" type="button" title="Назад" data-slider="slider_1">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_left_icon" />
                        </svg>
                    </button>

                    <button class="js-image-slider-next swiper-button-next" type="button" title="Вперёд" data-slider="slider_1">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#arrow_right_icon" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="js-image-slider-pagination swiper-pagination" data-slider="slider_1"></div>
        </div>
    </div>

    <div>
        <h3 class="big accent-color">Ультразвуковое оборудование экспертного класса – быстрая и надежная диагностика. УЗИ-аппарат Philips Affiniti 70:</h3>
        <ul>
            <li>высокий уровень безопасности и низкий уровень излучения для детей и взрослых</li>
            <li>датчик PureWave позволяет увеличивать глубину просмотра в сложных случаях для точной визуализации, помогает получать одинаково четкое изображение при разном телосложении пациентов</li>
            <li>технология точного формирования луча: упрощает сложные исследования, дает высокий уровень контраста изображения и однородности изображения и низкий уровень артефактов и шума на изображении для высокоточной диагностики</li>
            <p><b>Универсальный аппарат позволяет проводить широкий спектр УЗ-диагностики (акушерство и гинекология, кардиология, урология, исследования сосудов, органов брюшной полости, опорно-двигательного-аппарата, молочных желез).</b></p>
        </ul>
    </div>
</div>