<div class="two-columns two-columns--bg">
    <div>
        <h2>Ультразвуковая диагностика (УЗИ)</h2>
        <p>Современный, простой и эффективный метод диагностики, позволяющий получить ценнейшую информацию о состоянии внутренних органов и систем.</p>
        <p>Кабинеты отделения ультразвуковой диагностики оборудованы современными ультразвуковыми приборами, оснащёны всеми последними достижениями мировой науки в ультразвуковой диагностике.</p>
        <h3>Это даёт возможность для:</h3>
        <ul>
            <li>полной цифровой обработки изображения;</li>
            <li>цветового доплеровского картирования для исследования сосудов;</li>
            <li>использования мультичастотных датчиков с высокой разрешающей способностью для высококачественной визуализации тканей человеческого организма.</li>
        </ul>
    </div>

    <div>
        <img src="images/content/two_columns/img_9.jpg" srcset="images/content/two_columns/img_9@2x.jpg 2x" alt="">
    </div>
</div>