<div class="two-columns two-columns--bg">
    <div>
        <h2>Основные методы диагностики пролапса</h2>
        <ul>
            <li>влагалищное исследование</li>
            <li>УЗИ органов мочевыделительной системы</li>
            <li>уродинамические исследования</li>
            <li>анализ мочи</li>
            <li>цистоскопия</li>
        </ul>
    </div>

    <div>
        <img src="images/content/two_columns/img_36.jpg" srcset="images/content/two_columns/img_36@2x.jpg 2x" alt="">
    </div>
</div>