<div class="two-columns">
    <div class="bg">
        <form action="">
            <h2>Запишитесь<br> на диагностическое<br> исследование</h2>

            <p>Оставьте свои контактные данные, и мы<br> свяжемся с вами в течение пяти минут</p>

            <label class="input-group">
                <span class="input-group__container">
                    <input class="input" type="text" name="name" value="" placeholder="Ваше имя">
                </span>
            </label>

            <label class="input-group">
                <span class="input-group__container">
                    <input class="js-phone-mask input" type="text" name="phone" value="" placeholder="+ 7 (999) 999 99 99">
                </span>
            </label>

            <label class="checkbox">
                <input type="checkbox" name="terms">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Я разрешаю обработку своих <a href="#">персональных данных</a></span>
            </label>

            <button class="button button--primary" type="submit">Записаться</button>
        </form>
    </div>

    <div class="mobile-hidden equal">
        <img src="images/content/two_columns/img_4.jpg" srcset="images/content/two_columns/img_4@2x.jpg 2x" alt="">
    </div>
</div>