<div class="two-columns two-columns--2_3">
    <div>
        <p><span class="h2">Нарушение регулярности сердечных сокращений (аритмия)</span>- это заболевание, приводящее к изменению частоты (учащение или урежение), сбою самого ритма сокращений сердца, к изменению нормального алгоритма
            электрического возбуждения по системе проведения электрического импульса (проводящей системе
            сердца).</p>
        <p>Последние десятилетия такие нарушения сердечной деятельности получили широкую распространённость и учитывая, что рост заболеваний сердечно-сосудистой системы затрагивает не только пожилой, но и молодой возраст, делает проблему особенно
            актуальной. Аритмии очень важно выявлять на самых ранних этапах и определять индивидуальную тактику лечения.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_1.jpg" srcset="images/content/two_columns/img_1@2x.jpg 2x" alt="">
    </div>
</div>