<div class="two-columns two-columns--bg">
    <div>
        <h2>Доклады и лекции</h2>
        <p>Еженедельно один из ординаторов урологов под руководством куратора готовит тематический доклад и выступает перед коллективом урологической службы по средам после клинического разбора. </p>
        <p>Регулярно прослушиваются лекции, читаемые профессором Андреем Игоревичем Гореловым. Ежемесячно проводятся журнальные клубы и студенческое научное общество.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_23.jpg" srcset="images/content/two_columns/img_23@2x.jpg 2x" alt="">
    </div>
</div>

<div class="two-columns two-columns--bg two-columns--reverse">
    <div>
        <h2>Научная деятельность</h2>
        <p>Отделение ведёт научную деятельность с активным привлечением клинических ординаторов по специальности «Урология», которые выступают с докладами на конференциях и участвуют в написании научных статей. Наиболее активные ординаторы, которые
            за два года обучения подключаются к научной работе Клиники, по окончанию учёбы получают как минимум две публикации в высокорейтинговых журналах в соавторстве с ведущими профильными учёными и практиками.</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_24.jpg" srcset="images/content/two_columns/img_24@2x.jpg 2x" alt="">
    </div>
</div>