<div class="two-columns">
    <div>
        <div class="about-short">
            <h2>Клиника высоких<br> медицинских технологий<br> им. Н.И.Пирогова СПбГУ</h2>

            <p class="big-text">
                Клиника высоких медицинских технологий им. Н.И. Пирогова (поликлиника, стационар) Санкт-Петербургского государственного университета — одно из старейших медицинских учреждений Санкт-Петербурга и Северо-Западного региона.
            </p>

            <div class="info-graphic">
                <div>
                    <h3 class="accent-color">6 филиалов</h3>
                    <p>Стараемся быть ближе к нашим пациентам</p>
                </div>

                <div>
                    <h3 class="accent-color">34 года работы</h3>
                    <p>Качественная медицина, проверенная временем</p>
                </div>

                <div>
                    <h3 class="accent-color">27 030 операций</h3>
                    <p>Наш главный приоритет — здоровье и комфорт наших пациентов</p>
                </div>

                <div>
                    <h3 class="accent-color">328 врачей</h3>
                    <p>Лучшие врачи, ежегодно проходящие повышение квалификации</p>
                </div>
            </div>
        </div>
    </div>

    <div class="equal">
        <img src="images/content/two_columns/img_2.jpg" srcset="images/content/two_columns/img_2@2x.jpg 2x" alt="">
    </div>
</div>