<div class="two-columns two-columns--bg">
    <div>
        <h2>Лечебно-диагностический комплекс на Фонтанке</h2>
        <p>ЛДК на Фонтанке является частью многопрофильной Клиники с богатой историей. Здесь пациент может получить консультацию квалифицированных специалистов, пройти необходимое назначенное медицинское обследование, сдать анализы, установить
            правильный диагноз и план его лечения. Всё можно сделать в рамках одного медицинского учреждения.</p>
        <p>Амбулаторно-консультативную врачебную помощь можно получить рядом в <a href="#">ЛДК на Циолковского</a> или по другим адресам, в ЛДК на Фонтанке консультативный прием врачей не осуществляется</p>
    </div>

    <div>
        <img src="images/content/two_columns/img_15.jpg" srcset="images/content/two_columns/img_15@2x.jpg 2x" alt="">
    </div>
</div>